body
{
    font-family: sans-serif;
}

table, th, td
{
    border: 2px solid black;
    border-collapse: collapse;
}

table
{
    text-align: center;
}

#game-field
{
    display: inline-block;
    text-align: center;
}

th, td
{
    padding: 10px 20px;
}

.move
{
    font-size: 25px;
    color: gray;
    background-color: white;
    border: 2px solid gray;
    padding: 15px 25px;
    transition: color 300ms, border 300ms;
}

#score
{
    font-size: 1.5em;
}

#info
{
    font-size: 1.5em;
    color: blue;
    margin: 1.5em 0 0 0;
}

#bar
{
    background-color: deepskyblue;
    height: 0.3em;
    margin-bottom: 1.5em;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 0;
}

#game-moves > .active
{
    color: green;
    border: 2px solid greenyellow;
}

input::-moz-focus-inner
{
    border: 0;
}